extends layout

block content

	script(src='http://code.jquery.com/jquery-1.11.2.min.js')
	script(src='http://maps.google.com/maps/api/js?sensor=true')
	script(src='/javascripts/main.js')
	script(src='/javascripts/flickr.js')
	script(src='/javascripts/knockout-3.3.0.js')

		p Loading your location
	
	br
	
	#map

